#chat {
    display: none;
	width: 800px;
	height: 600px;
    margin: 100px auto 0;
    border: 1px lightblue solid;
    position: relative;
}
.tip-row {
	position: relative;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.tip-row .tip {
    background-color: #CCC;
    color: white;
    padding: 1px 10px;
    font-size: 12px;
    border-radius: 15px;
}
#messages {
	height: 550px;
    overflow: scroll;
}
#messages .message {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    position: relative;
}
#messages .confirmed {
	justify-content: flex-end;
}
#messages .confirmed .time {
	font-size: 12px;
	color: #CCC;
	margin-left: 5px;
}
#messages .confirmed .icon {
	width: 15px;
	height: 15px;
	margin-left: 5px;
}
#form {
    height: 50px;
    background: #F7F7F7;
    display: flex;
}
#form #input {
	flex: 1;
    font-size: 16px;
	padding: 10px;
	height: 100%;
}
#form>button {
	width: 120px;
    font-size: 20px;
}
.user {
	color: #03A9F4;
	font-weight: bold;
}
.user::after{
	content: ':';
	margin-right: 10px;
}